/* removing default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= NAVBAR ================= */

/* trying to create navbar using flex */
.navbar {
    height: 10vh; /* using viewport height */
    display: flex; /* for horizontal layout */

    /* aligning items */
    justify-content: space-between;
    align-items: center;

    padding: 0 5vw;
    background-color: #faeedb;
}

/* logo styling */
.logo {
    font-size: 2vw;
    font-weight: bold;
    color: #ff8383;
}

/* menu links */
.nav-menu {
    display: flex; /* to make links in one row */
    gap: 2vw; /* space between links */
}

.nav-menu a {
    text-decoration: none;
    color: gray;
    font-size: 1vw;
}

/* button styling */
.user-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 0.5vw 1vw;
    border-radius: 5px;
}

/* ================= HERO SECTION ================= */

/* I want hero to take full screen except navbar */
.hero-container {
    height: calc(100vh - 10vh); 
    /* 100vh = full screen
       minus navbar height
       so no scrolling */

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 5vw;
    padding: 0 5vw;
}

/* text area */
.hero-text {
    max-width: 40vw;
}

/* heading */
.hero-text h1 {
    font-size: 3vw;
}

/* paragraph */
.hero-text p {
    margin-top: 2vh;
    font-size: 1.2vw;
}

/* button */
.hero-btn {
    margin-top: 2vh;
    padding: 1vw 2vw;
    background-color: red;
    color: white;
    border: none;
}

/* image */
.hero-image img {
    width: 30vw;
}

/* ================= RESPONSIVE ================= */

/* for mobile */
@media (max-width: 768px) {

    /* changing layout to column */
    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    /* increasing text size for mobile */
    .hero-text h1 {
        font-size: 6vw;
    }

    .hero-text p {
        font-size: 3vw;
    }

    .hero-image img {
        width: 60vw;
    }

    .nav-menu a {
        font-size: 3vw;
    }
}
