 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, sans-serif;
 }

 html,
 body {
     height: 100%;
 }

 .navbar {
     height: 10vh;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 5vw;
     background-color: #faeedb;
     border-bottom: 1px solid #ddd;
 }

 .logo {
     font-size: 2vw;
     font-weight: bold;
     color: #ff8383;
 }

 .nav-menu {
     display: flex;
     gap: 2vw;
 }

 .nav-menu a {
     text-decoration: none;
     color: #666;
     font-size: 1vw;
 }

 .nav-menu a:hover {
     color: #ff3737;
 }

 .user-btn {
     background-color: #ff3737;
     border: none;
     padding: 0.5vw 1vw;
     border-radius: 1vw;
     color: #ffedce;
     font-size: 1vw;
     cursor: pointer;
 }


 .hero-container {
     height: calc(100vh - 10vh);
     display: flex;
     justify-content: center;
     gap: 5vw;
     align-items: center;
     padding: 0 5vw;
 }

 .hero-text {
     max-width: 40vw;
 }

 .hero-text h1 {
     font-size: 3vw;
     line-height: 1.2;
     color: #4a5a68;
 }

 .hero-text h1 span {
     color: #ffc193;
 }

 .hero-text p {
     margin: 2vh 0;
     font-size: 1.2vw;
     line-height: 1.5;
     color: #9aa5ad;
 }

 .hero-btn {
     background-color: #ff3737;
     color: #fff;
     border: none;
     padding: 1vw 2vw;
     border-radius: 1vw;
     font-size: 1vw;
     cursor: pointer;
 }

 .hero-btn:hover {
     background-color: #f5bebe;
 }

 .user-btn:hover {
     background-color: #fec9c9;
 }

 .hero-image {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .hero-image img {
     width: 30vw;
     max-width: 400px;
 }

 @media (max-width: 768px) {
     .hero-container {
         flex-direction: column;
         text-align: center;
         gap: 3vh;
     }

     .hero-text h1 {
         font-size: 6vw;
     }

     .hero-text p {
         font-size: 3vw;
     }

     .hero-btn {
         font-size: 3vw;
         padding: 2vw 4vw;
     }

     .hero-image img {
         width: 60vw;
     }

     .nav-menu a {
         font-size: 3vw;
     }

     .user-btn {
         font-size: 3vw;
         padding: 1vw 2vw;
     }

     .logo {
         font-size: 4vw;
     }
 }